@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Quicksand&family=Raleway:wght@100&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}


img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}


li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}


::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}


svg {
  width: 100%;
  display: block;
  fill: currentColor;
}


body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  line-height: 1.4em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(20, 20, 20);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #e4d8a4;
  }
  button {
    background-color: #f9f9f9;
  }
}
.box{
  min-height: 10px;
  width: 35%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(165, 153, 116);
  display: flex;
  gap: rem;
  padding-block: 2rem;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  }

.productos{
  display: flex; 
  align-items: center;
  border: 5px;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-block: 1rem;
}
.carrito{
  text-align: center;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;

}
.box{
  display: grid;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  border-radius: 10px;
  border: 5px solid rgb(84, 72, 37);
 
}
img{
  width: 80%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  background-size: cover;
  background-position: center;
  height: 300px;
  
}


button{
  text-decoration: none;
  display: inline-block;
  text-align: center;
 
}

.vacio{

  text-align:center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: white;
  border: 5px solid transparent
}
input{
border: #000;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  border: solid rgb(165, 153, 116)

}
form{
  
  display: grid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  
  
}
.botonF{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
label{
  text-align: center;
}
.agregar{
  margin-right: 100px;
}
.cantidad{
  margin-right: 100px;
}
.terminar{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;

}
.formulario{
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
  height: 10p;
  border: 5px solid rgb(165, 153, 116);
  
}
.idorden{
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
  height: 10p;
  border: 5px solid rgb(165, 153, 116);
}
 h2,h3,h4,h5{
  color: #000;
 }